body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    
}

header {
    background-color: #333;
    opacity: 0.99;
    padding: 15px 0;
    color: #fff;
    text-align: center;
    position: relative;
}
.header-image{
    background-image: url('../Assets/Images/OIG.grGbI - Copy.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;

}
.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}