html{background-color: #F1EAFF; font-family: 'Dancing Script', cursive;;}
h1{color: #224B0C;}
h2{color: #860A35;}
li{color: #AF2655;}
p{color: #1A5D1A; font-size: 16pt;font-weight: bolder;}
a{color: #898121;}
