html{background-color: antiquewhite; font-family: 'Cormorant', serif;}
h1{color: #2B2B28}
h2{color: #4A4A48;}
li{color: #4A4A48;}
p{color: #2B2B28; font-size: 14pt;}
a{color: #444941;}
header{background-color: #EBE3D5; 
    padding: 20px 0; color: #776B5D; 
    text-align: center;
    opacity: 0.99;
    position: relative;
}
.header-image {
    background-image: url('../Assets/Images/secomberheader.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
}
.logo{font-size: 28px; font-weight: bold;}
nav ul{list-style:none; padding: 0; margin: 0; text-align:end;}
nav li{display: inline; margin-right:20px;}
nav a{text-decoration: none;font-size: 18px;}